.browse-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:100px;
    gap: 20px;
  }

  input{
        border: 1px solid rgba(0, 0, 0, 0.3);
        width: 450px;
        height: 40px;
        padding: 0 15px;
        font-size: 18px;
        outline: none;
        color: black;
        font-weight: 500;
  }

  .select-node{
    cursor: pointer;
    font-size: 18px;
    &:hover{
        background-color: rgb(180, 180, 180);
    }
  }